:root{
    /* bg-color */
    --bg-primary-color: #080808;
    --bg-secondary-color: #101010;
    --bg-active-color:#f5f5f5;
    --bg-fill-color: #d49696;
    --bg-head-fill-color: #613535;
    --bg-food-color: #e62424;

    /* text-color */
    --text-primary-color: #f5f5f5;
    --text-active-color: #080808;

    /* Spacing Variables*/
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Border Color */
    --border-color: #6c6c6c;
    --border-box-color: #302e2e;

    /* Border Radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
    
}